input [type="text"] {
	border: 1px solid black;
}
.replace-container {
	display: inline-block;
}

textarea {
	width: 100%;
	height: 93%;
}

button {
	float: right;
	margin-right: 5px;
}

.replace-type {
	font-style: italic;
	font-size: 10pt;
	margin-left: 5px;
	margin-right: 5px;
}

.madLibContainer, .madLibOutputContainer {
	border: 1px solid black;	
	margin: 5px;
	height: 200px;
}


@media (min-width: 992px) {
	.madLibContainer, .madLibOutputContainer {
		height: 800px;
	}
}
